

.container {
    
    display:  grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: repeat(6, 40px);
    grid-gap: 5px 5px;
    width: fit-content;
    margin: auto;
}

.item {
    background-color: #DADCE0;
    text-align: center  ;
    border-radius: 5px;
}

#item10 {
    background-color: #F1F3F4;
}